@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

html{
    height: 100%;
}

body{
   background-color: hwb(216 5% 83%);
   font-family: 'Outfit', sans-serif;
   display: flex;
   justify-content: center;
   height: 100%;
   margin: 0px;
}

main{
   display: flex;
   justify-content: center;
   align-items: center;

}

h2{
    margin-top: 20px;
    font-size: 18px;
    color: hsl(0, 0%, 100%);
}   

h2:hover{
  color: hsl(178, 100%, 50%);  
}



img{
    border-radius: 7px;
}

#box-img{
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
}

#nft-image{
    width: 100%;
    height: auto;
}


#nft-image-hover{
    position: absolute;
    opacity: 0%;
    padding: 118px;
    
}

#nft-image-hover:hover{
    position: absolute;
    opacity: 80%;
    background-color:  hsl(178, 100%, 50%);
}


#box-card{
    border-radius: 15px;
    background-color: hsl(216, 50%, 16%);
    padding: 1rem;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 50%;
    box-shadow:0px 0px 68px -16px rgba(0,0,0,1);
 
}

@media (max-width: 536px){

    #box-card{
        width: 90%;
    }


}


#text-description{
    color:grey;
    font-size: 15px;
}

#box-text{
    display: flex;
    justify-content: space-between;
}

#text-creater{
    display: flex;
    align-items: center;
    font-size: 14px;
}

#box-image-creater{
    display: flex;
    margin: 0px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 50px;
}

#box-text-creater{
    display: flex;
    justify-content: space-around;
    margin-left: 10px;

}
@media(max-width: 380px) {
    #box-text-creater{
        flex-wrap: wrap;
    }

}

#text-value{
    color: hsl(178, 100%, 50%);
    display: flex;
    align-items: center;

    
}

#text-days{
    color: hsl(215, 51%, 70%);
    display: flex;
    align-items: center;
}

#text-creater-span1{
    color: grey;
    margin-left: 0.5rem;
}

#text-creater-span2{
    color:hsl(0, 0%, 100%); 
    margin-left: 0.3rem;
}

#text-creater-span2:hover{
    color: hsl(178, 100%, 50%);
}

#image-creater{
   
    height: 40px;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 10%;
}

